.baground{
    background-color:blanchedalmond;
}
.color{
    color: chartreuse;
}
.bangla{
    color: seagreen;
}
.web{
    background-color:darkkhaki;
    color: slateblue;
}
.footer{
    color: white;
    background-color: black;
    text-align: center;
}